* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;/* Set a light background color */
}

h2 {
    color: #272727;
    font-size: 24px;
    margin-top: 10px;
    opacity: 0; /* Set opacity to 0 to apply the fade-in animation */
    animation: fadeIn 1s ease-in-out forwards;
}

section {
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;
    overflow-y: scroll;
}

section div {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    /* padding: 20px; */
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Rounded corners */
}

section>div {
    padding: 30px 20px;
}

section h2{
    margin: 20px;
    text-align: center;
}

section div img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  */
}

a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    transition-duration: 200ms;
}

.tile:hover{
    transform: scale(1.05); /* Slightly increase size on hover */
}

a i {
    font-size: 1.3em;
}

a p {
    font-size: 16px;
}

.tile {
    margin: 5px; /* Reduce the margin to make the spacing smaller */
    min-width: 12.5rem;
    box-shadow: none;
    transition: transform 0.2s ease-in-out;
}

p.footer {
    font-size: 12px;
    color: #272727;
    margin-top: 20px;
    font-family: 'Comfortaa' cursive;
    text-align: center;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}


@media screen and (max-width: 768px) {
    h2 {
        font-size: 18px;
        margin-top: 8px; /* Reduce top margin for smaller screens */
    }

    section div img {
        width: 100px;
        height: 100px;
    }

    .tile {
        margin: 3px; /* Reduce the margin for mobile devices */
    }

    a i {
        font-size: 1em;
    }

    a p {
        font-size: 13px;
    }

    p.footer {
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    h2 {
        font-size: 14px;
        margin-top: 6px; /* Reduce top margin for even smaller screens */
    }

    section div img {
        width: 80px;
        height: 80px;
    }

    .tile {
        margin: 2px; /* Reduce the margin for even smaller screens */
    }

    a i {
        font-size: 1em;
    }

    a p {
        font-size: 12px;
    }

    p.footer {
        font-size: 9px;
    }
}

@media screen and (max-width: 280px) {
    h2 {
        font-size: 11px;
        margin-top: 4px; /* Reduce top margin for the smallest screens */
    }

    section div img {
        width: 80px;
        height: 80px;
    }

    .tile {
        margin: 1px; /* Reduce the margin for the smallest screens */
    }

    a i {
        font-size: 1em;
    }

    a p {
        font-size: 12px;
    }

    p.footer {
        font-size: 10px;
    }
}

/* Media Queries for iPhone 6 */
@media only screen and (max-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    /* Add your styles for iPhone 6 here */
    h2 {
        font-size: 17px;
    }

    section div img {
        width: 80px;
        height: 80px;
    }

    .tile {
        margin: 3px;
    }

    a p {
        font-size: 12px;
    }

    p.footer {
        font-size: 10px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}